@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Nunito&family=Secular+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 1rem;
  font-family: "Hanken Grotesk", sans-serif;
}

#root,
.app {
  height: 100%;
  width: 100%;
}

.app {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 750px 1fr;
  grid-template-rows: 100px 1fr 100px;
  justify-content: center;
}

.header {
  grid-column: 1 / 4;
  font-family: "Secular One", sans-serif;
  display: flex;
}

.main {
  grid-column: 2 / 3;
}

.footer {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 2.5rem;
}
