.education {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.educationContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.educationWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.educationWrapper > div {
  display: flex;
  flex-direction: column;
}

.educationWrapper:nth-child(4) > div {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.educationCheckbox input {
  width: 20px;
}

.educationCheckbox label {
  font-size: 0.875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.educationAddBtn {
  border: none;
  font-weight: 600;
  color: #f8f9fa;
  padding: 10px 10px;
  background-color: #1d70e0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.delEducationBtn {
  border: none;
  justify-self: end;
}

#schoolEndInput:disabled {
  background-color: #e6e6e4;
}

.educationAddBtn:hover {
  background-color: #1759b3;
}
