.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  min-height: 200px;
  padding: 10px;
}

.form h3 {
  padding: 10px 0px;
}

label {
  font-weight: 600;
  padding: 5px 0px;
}

input {
  height: 35px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
}

textarea {
  height: 250px;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  line-height: 1.62;
  padding: 5px;
  resize: none;
}

button {
  padding: 5px 10px;
}

.submitBtn {
  height: 40px;
  width: 120px;
  align-self: center;
}

input::placeholder,
textarea::placeholder {
}
