.form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section {
  min-height: 200px;
  padding: 10px;
}

.form h3 {
  padding: 10px 0px;
}

label {
  font-weight: 600;
  padding: 5px 0px;
}

input {
  height: 35px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  border: 1px solid #98bef2;
}

textarea {
  height: 250px;
  border: 1px solid #98bef2;
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  line-height: 1.62;
  padding: 5px;
  resize: none;
}

select {
  border: 1px solid #98bef2;
}

form button {
  border: none;
  font-weight: 600;
  color: #f8f9fa;
  padding: 10px 10px;
  background-color: #1d70e0;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.2s ease-in-out;
}

form .submitBtn {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #f8f9fa;
  padding: 15px 50px;
  background-color: #00a400;
  align-self: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid #1b65cf;
}

form button:hover {
  background-color: #1759b3;
}

form .submitBtn:hover {
  background-color: #008b00;
}
