.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section {
  min-height: 200px;
  padding: 10px;
}

.form h3 {
  padding: 10px 0px;
}

label {
  padding: 5px 0px;
}

input {
  height: 35px;
  padding: 5px;
}

button {
  padding: 5px 10px;
}

.submitBtn {
  height: 40px;
  width: 120px;
  align-self: center;
}
