.skill {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.skillContainer {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#skillInput {
  width: 100%;
}

.delSkillBtn {
  border: none;
  background-color: white;
  padding: 5px;
  justify-self: end;
  align-self: center;
}

.skillWrapper {
  display: flex;
}

.skillWrapper > div {
  width: 100%;
}

.skillWrapper label {
  justify-self: center;
  align-self: center;
}

.skillWrapper:nth-child(2) {
  display: grid;
  grid-template-columns: max-content 3fr max-content;
  gap: 10px;
}

.delSkillBtn svg {
  color: black;
}

.delSkillBtn:hover {
  background-color: #c1c1bc;
}
