.skill {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 360px 2fr 1fr;
  gap: 10px;
}

.skillContainer {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skillWrapper {
  display: flex;
}

#skillInput {
  width: 100%;
}

.skillAddBtn {
  font-weight: 600;
  color: #f8f9fa;
  padding: 10px 10px;
  border: none;
  background-color: #1d70e0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.delSkillBtn {
  border: none;
  justify-self: end;
  align-self: center;
}

.skillWrapper > div {
  width: 100%;
}

.skillWrapper label {
  justify-self: center;
  align-self: center;
}

.skillWrapper:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
