.work {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.workWrapper > div {
  display: flex;
  flex-direction: column;
}

.workWrapper:nth-child(3) > div {
  grid-column: 1 / 3;
}

.workAddBtn {
  font-weight: 600;
  color: #f8f9fa;
  border: none;
  padding: 10px 10px;
  background-color: #1d70e0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.delJobBtn {
  border: none;
  align-self: self-end;
}

.workAddBtn:hover {
  background-color: #1759b3;
}
